.recruitments {
   width: 100%;
}

.recruitments h2 {
   font-size: 1.7rem;
   font-weight: 700;
   color: #333;
   margin-bottom: 1rem;
}

.recruitments .recruitments_list {
   position: relative;

   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
   overflow: hidden;
   gap: 1rem;

   min-height: 200px;
   width: 100%;
}

.recruitments .recruitments_list .recruitment {
   position: relative;

   width: calc(calc(calc(100% - 2rem) / 3));
   height: 200px;
   background-color: rgba(0, 0, 0, 0.01);
   border: 2px dashed rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   backdrop-filter: blur(2px);

   padding: 1rem;

   overflow: hidden;
}

.recruitments .recruitments_list .recruitment h2 {
   font-size: 1.5rem;
   font-weight: 700;
   margin-bottom: 1rem;
   color: #333;
}

.recruitments .recruitments_list .recruitment p {
   font-size: 1rem;
   font-weight: 400;
   color: #333;
}

.recruitments .recruitments_list .recruitment .entries {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0.5rem;
   padding: 0.5rem 1rem;
   background-color: rgba(0, 0, 0, 0.15);
   color: #fff;
   border-radius: 5px;
   border: 1px solid rgba(0, 0, 0, 0.15);
}

.recruitments .recruitments_list .recruitment .entries p {
   font-size: 0.8rem;
   font-weight: 400;
   color: #000000;
   position: relative;
}

.recruitments .recruitments_list .recruitment a {
   position: absolute;
   bottom: 0;
   left: 0;
   margin: 1rem;
   padding: 0.5rem 1rem;
   background-color: #333;
   color: #fff;
   border-radius: 5px;
   border: 2px solid rgba(255, 255, 255, 0.15);

   font-size: 0.8rem;
   font-weight: 500;

   transition: all 0.3s ease;
}

.recruitments .recruitments_list .recruitment a:hover {
   background-color: #000;
   border: 2px solid rgba(255, 255, 255, 0.15);
}

.recruitments .recruitments_list.empty {
   display: flex;
   align-items: center;
   justify-content: center;
}
